.accessibility_options {
  padding-top: 50px;
}
.accessibility-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width:639px){
    flex-direction: column;
    justify-content: center;
  }
}
.accessibility-buttons{
  @media only screen and (max-width:639px){
    text-align: center;
  }
 a {
      background-color: #fff;
      color: #4d4d4d;
      font-weight: 600;
      padding: 3px 8px;
      border: 1px solid #4d4d4d;
      display: inline-block;
      border-radius: 3px;
      text-decoration: none;
   @media only screen and (max-width:639px){
     margin-bottom: 10px;
     font-size: 13px;
   }
   &.active{
     color: #fff;
     font-style: italic;
     text-decoration: none;
   }
  } 
}
#fontSizer {
  text-align: center;
  display: flex;
  line-height: 1;
  align-items: baseline;
  justify-content: center;
  @media only screen and (min-width:640px){
    justify-content: flex-end;
    text-align: right;
  } 
  span{
    margin-right: 5px;
    font-weight: 600;
  }
  a{
    font-weight: 600;
    text-decoration: none;
    color: #000;
    + a{
      margin-left: 10px;
    }
    &.active{
      /*color: #f15a22;*/
    }
    &.fontsize-small{
      font-size: 1.0625em;
    }
    &.fontsize-default{
      font-size: 1.5em;
    }
    &.fontsize-large{
      font-size: 2em;
    }
  }
}
.accessibility-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ccc;
  padding: 7px 0;
}
.admin-menu{
  .accessibility-settings{
    top: 29px;
  }
}
.high-contrast{
  body{    
    color: #fff200 !important;
    background-color: #000000 !important;
    .navigation .menu-toggle .line{
      background-color: #fff200 !important; 
    }
    a, input, textarea{
      color: #fff200 !important;
    }
    input, textarea{
      &::-webkit-input-placeholder { /* Edge */
        color: #fff200 !important;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff200 !important;
      }

      &::placeholder {
        color: #fff200 !important;
      }
    }
    *, *::before, *::after{
      background: #000 !important;
      color: #fff200 !important;
      border-color: #fff200 !important;
    }
    .submenu{
      border-color: #fff200 !important;
    }
  }
}
.text-only{
  body{
    color: #000 !important;
    background-color: white !important;
    .navigation .menu-toggle .line{
      background-color: #000 !important; 
    }
    a, input, textarea{
      color: #000 !important;
    }
    input, textarea{
      &::-webkit-input-placeholder { /* Edge */
        color: #000 !important;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #000 !important;
      }

      &::placeholder {
        color: #000 !important;
      }
    }
    *, *::before, *::after{
      background: #fff !important;
      color: #000 !important;
      border-color: #000 !important;
    }
    .submenu{
      border-color: #000 !important;
    }
    img, canvas, svg{
      visibility: hidden !important;
    }
  }
}
